<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>
    <h1> Hello World! </h1>
    <form action = "/testsql_show">
        <label>Code:</label>
        <input type="text" name = "code"> <br>
        <label>Part No.:</label>
        <input type="text" name = "partno"> <br>
        <label>quantity:</label>
        <input type="text" name = "quantity"> <br>
        <input type="submit" value="Submit">
    </form>

</body>
</html>
