<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>
    <h1> Hello World! </h1>
    <form action = "/testsql_show" method="POST">
        <input type="submit" value="Submit">
    </form>

</body>
</html>
